{% set pageId = "page-edit-profil" %}
{% extends 'base.html.twig' %}

{% block title %}Modification du profil{% endblock %}

{% block body %}

    <div class="example-wrapper">

        <span><a class="btn btn-primary" href="{{ path('profil') }}">Retour</a></span>
        <div class="containerRegister bg-light shadow my-3 p-3">
            <h1 class="text-primary text-center">Modification du profil</h1>

            <div class="form form-register">
                {{ form_start(form) }}
                <div class="row form-row">
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.lastname, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.firstname, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            {{ form_row(form.password, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.code_postal, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.ville, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            {{ form_row(form.telephone, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <p class="mb-4"><i class="bi bi-exclamation-triangle-fill"></i> Vous devez rentrer à nouveau votre mot de passe pour effectuer vos modifications. </p>
                </div>

                <span class="d-flex justify-content-center col-12">
                    {{ form_row(form.register,{'label':'Modifier', 'attr':{'class':'btn btn-lg btn-primary my-3'}}) }}
                </span>
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}
