;{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}

<div class="example-wrapper">

    <p><a href="{{ path('dashboard') }}">Retour au dashboard</a></p>

    <div class="profil flex">
        <div class="informations">
            <h2>Mes informations</h2>
            <ul>
                <li>Nom : {{ app.user.lastname }}</li>
                <li>Prénom : {{ app.user.firstname }}</li>
                <li>E-mail : {{ app.user.email }}</li>
            </ul>

            <p>Modifier mes infos : <a class="btn btn-primary" href="{{ path('edit_profil', {'id': app.user.id}) }}">ici</a></p>
        </div>
    </div>
</div>
{% endblock %}
