{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}


<div class="example-wrapper">

    <span><a class="btn btn-primary" href="{{ path('home') }}">Retour à l'accueil</a></span>
    <div class="containerRegister bg-light shadow my-3 p-3">
        <h1 class="text-color-title text-center">Inscription</h1>

        <div class="form">

            {{ form_start(form) }}
                <span class="row row-cols-2">
                    {{ form_row(form.lastname, {label: 'Nom','attr':{'class':'form-control'}}) }}
                    {{ form_row(form.firstname, {label:'Prénom', 'attr':{'class':'form-control'}}) }}

                    {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}

                    {{ form_row(form.password, {
                        label: 'Mot de passe'
                    }) }}
                </span>

            <span class="d-flex justify-content-center col-12">
                {{ form_row(form.register,{'attr':{'class':'btn btn-lg btn-primary my-3'}}) }}
                </span>
            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}
