{% set pageId = "page-register" %}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="example-wrapper">

    <span><a href="{{ path('home') }}"><i class="bi bi-arrow-left-circle"></i> Retour à l'accueil</a></span>
    <div class="containerRegister bg-light shadow my-3 p-3">
        <h1 class="text-primary text-center">Inscription</h1>

        <div class="form form-register">
            {{ form_start(form) }}
                <div class="row form-row">
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.lastname, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.firstname, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.email, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            {{ form_row(form.password, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <p class="mb-5 ms-3 mdp-exclamation"><i class="bi bi-exclamation-triangle-fill"></i> Le mot de passe doit contenir au moins une minuscule, une majuscule, un chiffre et un caractère spécial.</p>

                    <div class="row mb-2">
                        <div class="col-6">
                            {{ form_row(form.code_postal, {'attr':{'class':'form-control'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(form.ville, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            {{ form_row(form.telephone, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">

                            {{ form_row(form.photos, {'attr':{'class':'form-control'}}) }}
                        </div>
                    </div>

                    <p class="mb-4"><span class="color">*</span> : champs obligatoires lors de l'inscription.</p>
                    <p class="mb-4 text-center">Vous pourrez modifier ou compléter votre profil après votre inscription.</p>
                </div>

            <span class="d-flex justify-content-center col-12">
                {{ form_row(form.register,{'label':"S'inscrire", 'attr':{'class':'btn btn-lg btn-primary my-3'}}) }}
            </span>
            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}
